@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Righteous&display=swap');
/*
font-family: 'Lora', serif;
font-family: 'Righteous', cursive;
*/


body { font-family: 'Lora', serif; font-size:16px; color:#555; background:#fff; }



/*===== logo =====*/
h1 { position:fixed; left:50px; top:50px; z-index:9; }
h1 img { width:200px; }



/*===== sns Buttons =====*/
.sns { position:fixed; right:50px; top:50px; z-index: 9; }
.sns li { float:left; margin-right:20px; }
.sns .fab {
    font-size:25px; color:#36f;; opacity:0.5;
    transform:scale(1); transition:all 0.5s ease-in;
}
.sns .fab:hover { opacity:1; transform:scale(1.1); }



/*===== menu =====*/
#menu { position:fixed; left:0; top:50%; margin-top:-100px; z-index:9; }
#menu a {
    width:200px; height:50px;
    font-family: 'Righteous', cursive;
    color:#000; text-align: right; line-height: 50px; letter-spacing: 1px;
    border-top:1px solid #111; overflow: hidden;
    transition: all 0.4s ease-in;
}



/*===== section =====*/
section { 
    position:relative; width:100%; height:100vh;
    background-position: right center;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

section:nth-child(1) { background-image: url(../imgs/bg1.jpg); }
section:nth-child(2) { background-image: url(../imgs/bg2.jpg); }
section:nth-child(3) { background-image: url(../imgs/bg3.jpg); }
section:nth-child(4) { background-image: url(../imgs/bg4.jpg); }

article { position:absolute; left:300px; top:400px; width:550px; z-index: 9; }
article h3 { 
    font-family: 'Righteous', cursive; font-size:52px; 
    transition: all 0.4s ease-in;
}
article p { line-height:18px; }


/*===== :hover =====*/
#menu li:hover a, #menu li.on a { font-size:24px; }

#menu li:nth-child(1):hover a, #menu li:nth-child(1).on a {
    color:#d4164c; border-color:#d4164c;
}
section:nth-child(1) h3 { color:#d4164c; }

#menu li:nth-child(2):hover a, #menu li:nth-child(2).on a {
    color:#fff; border-color:#fff;
}
section:nth-child(2) h3 { color:#fff; }

#menu li:nth-child(3):hover a, #menu li:nth-child(3).on a {
    color:#ffec6a; border-color:#ffec6a;
}
section:nth-child(3) h3 { color:#ffec6a;}

#menu li:nth-child(4):hover a, #menu li:nth-child(4).on a {
    color:#00591a; border-color:#00591a
}
section:nth-child(4) h3 { color:#00591a }