@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');
/*font-family: 'Orbitron', sans-serif;*/

body { 
    font-family: 'Orbitron', sans-serif; font-size:15px; 
    background:#111; overflow: hidden; 
}

.wrap { 
    position:fixed; width:100%; height: 100%;
    perspective: 900px; overflow: hidden;
}

/*===== trigger btn =====*/
.btnMenu {
    position:fixed; left:40px; top:50px; width:30px; height:30px;
    font-size:32px; color: #f4f4f4; text-align:center; line-height: 30px;
    animation:aniBtn 0.4s infinite alternate; z-index:3;
}

@keyframes aniBtn {
    0% { color:#fff; transform: scale(1); opacity: 1; }
    100% { color:#777; transform: scale(1.15); opacity: 0.75;  }
}

/*===== navigation bar =====*/
nav {
    position: fixed; width:150px; height:100%;
    background:#e4e4e4; opacity: 0; z-index: 2;
    transform:rotate3d(0, 1, 0, 120deg); transform-origin: left center;
    transition:all 0.8s ease-in-out;
}
nav.on { transform:rotate3d(0, 1, 0, 15deg); opacity: 1; }
nav h1 { position:absolute; left:50%; top:80px; width:100px; margin-left:-50px; }
nav h1 img { width:100%; }
nav ul { position:absolute; left:0; top:35%; width:100%; padding:0; }
nav ul li a {
    width:100%;
    font-size:18px; color:#000; text-align:center; line-height:4em;
}
nav ul li a:hover { color:#fff; background:#000; }


/*====== contents =====*/
section {
    position:fixed; width:100%; height:100%; background:#999;
    transition:all 0.6s ease-out 0.3s; transform-origin: right center;
}
section.on { transform:rotate3d(0, 1, 0, -10deg); }
section > div { position: absolute;  }