@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
/*font-family: 'Orbitron', sans-serif;*/

body { font-family: 'Orbitron', sans-serif; font-size:14px; color:#333; }

/*===== 전체 프레임 =====*/
#wrap { 
    position:fixed; left:0; top:0;
    width:100%; height: 100vh; background:url(../imgs/bg_morning.jpg) no-repeat 
    center center; background-size:cover; transition:all 2s ease-in; 
    overflow:hidden;
}

/*===== 로고 =====*/
h1{
    position:fixed; left:60px; top:40px; width:90px; height:80px;
    background:url(../imgs/logo_b.png) no-repeat center center; 
    background-size:cover;
}

/*===== gnb =====*/
#gnb { position:fixed; right:200px; top:50px; }
#gnb li { float:left; margin-left:30px; }
#gnb li a { color:#666; }
#gnb li a:hover { color:#36f; }

/*===== sns =====*/
#sns { position:fixed; right:50px; top:45px; }
#sns li { float:left; margin-left:20px; }
#sns li a { font-size:22px; color:#444; }
#sns li a:hover { color:#36f; }

/*===== txt =====*/
article { position:fixed; left:60px; top:300px; width:450px; z-index:9; }
article h3 { font-size:50px; color:rgba(0, 0, 0, 0.65) }

/*===== smartphone =====*/
figure { 
    position:absolute; right:-300px; top:200px; width:1226px; height:809px;
    background:url(../imgs/phone_morning.png) no-repeat center center;
    transition:all 2s ease-in;
}
figure p {
    position:absolute; left:135px; top:100px; width:545px; height:310px;
    padding:100px 0 0 45px;
    font-size:64px; color:rgba(5, 20, 85, 0.65); font-weight:700;
    letter-spacing:2px; overflow:hidden ;
}

/*===== theme button =====*/
nav { position:fixed; left:6%; bottom:70px; width:88%; }
nav li { float:left; width:25%; }
nav li a {
    width:98%; height:35px; margin:0 auto; padding:9px 0 0 30px;
    font-size:12px; color:#111; letter-spacing:3px;
    background:rgba(255,255,255,0.6);
    transition:all 0.4s ease-in;
}
nav li:hover a, nav li.on a { color:#e8e8e8; background:rgba(0, 0, 0, 0.7); }


/*===== 테마 배경 구름 =====*/
#wrap > img:nth-child(1) {
    position:absolute; left:-1200px; top:0; opacity: 0.75;
    animation:ani1 110s linear infinite;
}
#wrap > img:nth-child(2) {
    position:absolute; left:0; top:20px; opacity: 0.75;
    animation:ani2 70s linear infinite;
}

/*===== 스마트폰 배경 구름 =====*/
figure p img.cl1 {
    position: absolute; left:-600px; top:30px; width:600px; height: auto;
    animation:ani3 110s linear infinite; 
}
figure p img.cl2 {
    position: absolute; left:0px; top:20px; width:700px; height: auto;
    animation:ani4 90s linear infinite; 
}


/*===== cloud animation =====*/
@keyframes ani1 {
    0%{ left:-1200px; }
    100%{ left:1980px; }
}
@keyframes ani2 {
    0%{ left:0; }
    50% { left:1920px; opacity:0; }
    50.00001%{ left:-1840px; opacity:0.8; }
    100%{ left:0; }
}
@keyframes ani3 {
    0%{ left:-600px;}
    100% { left:540px;}
}
@keyframes ani4 {
    0%{ left:0px;}
    50% { left:540px; opacity:0;}
    50.001% { left:-700px; opacity:1;}
    100% { left:0px;}
}


/*===== 테마 변경 =====*/
#wrap.morning { background:url(../imgs/bg_morning.jpg); }
#wrap.morning figure { background:url(../imgs/phone_morning.png); }

#wrap.afternoon { background:url(../imgs/bg_afternoon.jpg); }
#wrap.afternoon figure { background:url(../imgs/phone_afternoon.png); }

#wrap.evening { background:url(../imgs/bg_evening.jpg); }
#wrap.evening figure { background:url(../imgs/phone_evening.png); }

#wrap.night { background:url(../imgs/bg_night.jpg); }
#wrap.night figure {  background:url(../imgs/phone_night.png); }
#wrap.night figure p { color:rgba(255, 255, 255, 0.85); }

#wrap.night h1 { background:url(../imgs/logo_w.png); }
#wrap.night #gnb a, #wrap.night #sns i { color:#fff; }
#wrap.night article h3, #wrap.night article p  { color:rgba(255, 255, 255, 0.85) }
#wrap.night > img { opacity: 0.2; }
#wrap.night figure p img { opacity: 0.4; }