@charset "utf-8";
/*===== Reset =====*/

* { margin:0; padding:0; box-sizing:border-box; }
ol li, ul li { list-style: none; }
a { 
    display:block; color:#333; 
    text-decoration:none; outline:none; border:0; 
}
img { outline:none; border:0; }