@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/*===== FullScreen Background =====*/

body {
    width:100%;  height:100vh; 
    font-family: 'Noto Sans KR', sans-serif; font-size:15px; color:#333;
    background:#111 url(../imgs/bg.jpg) no-repeat center;
    background-size: cover;  
    overflow: hidden;
}

/*===== header =====*/
header {
    position:fixed; left:-450px; top:0;
    width:700px; height:100vh;
    background:linear-gradient(-45deg, #e6fc55, #b9fb05, #97e031);
    transform:skewX(-40deg);
}
h1 { position:fixed; left:250px; top:50px; }
h1 img { width:250px; transform:skewX(40deg); }

/* ===== gnb 1 depth =====*/
.gnb { position:absolute; right:0; top:150px; width:220px; }
.gnb > li { position:relative; }
.gnb > li > a { 
    width:100%; height:50px; padding:12px 30px 0 0; 
    font-family: 'Play', sans-serif; 
    font-size:18px; text-align:right; 
}
.gnb em, .gnb ul em { display:inline-block; transform:skewX(40deg); }
.gnb em i { margin-right:20px; }
.gnb > li.on > a, .gnb > li:hover > a { color:#fff; background:#222; }

/* ===== gnb 2 depth =====*/
.gnb ul { 
    position:absolute; left:0; top:0; 
    width:200px; opacity:0; transition:all 0.4s ease-in;
}
.gnb li.on ul, .gnb li:hover ul {
    left:145px; opacity:0.8; 
}
.gnb li.on ul { top:-15px; opacity:0.6; }

.gnb ul li a {  
    width:100%; height:40px; 
    margin-top:3px; padding-top:8px;
    color:#fff; 
    text-align: center;
    background:#222; 
    border-bottom: 1px solid #b9fb05;
}
.gnb ul li:hover a { color: #97e031;}

/*===== sns Buttons =====*/
.sns { position:fixed; right:50px; top:50px; }
.sns li { float:left; margin-right:20px; }
.sns .fab {
    font-size:25px; color:#b9fb05; opacity:0.5;
    transform:scale(1); transition:all 0.5s ease-in;
}
.sns .fab:hover { opacity:1; transform:scale(1.1); }

/*===== textBox =====*/
.txtBox { position:fixed; right:70px; top:150px; width:340px; height:280px; }

.title { 
    position:absolute; right:0px; top:0px;
    font-family: 'Monoton', cursive; font-size:170px; color:#b9fb05; letter-spacing:-2px;
}
.title em {  font-family: 'Play', sans-serif;  font-size:42px; color:#fff; }
.txt {
    position:absolute; right:0px; top:210px;
    font-family: 'Play', sans-serif;  font-size:32px; color:#bbb; letter-spacing:-2px;
}
.txt strong { margin-left:20px; font:bold 34px arial; color:#b9fb05; }

/*===== conBox =====*/
.conBox {
    position:fixed; right:-800px; bottom:0;
    width:800px; height:100%;
    background:rgba(0, 0, 0, 0.4);
    transform:skew(-40deg);
    transition:all 0.4s ease-in;
}
.con {
    position:absolute; left:40px; bottom:0;
    width:400px; height:100%; padding:10px;
    background:rgba(25, 40, 2, 0.8);
    transition:all 0.8s ease-in-out 0.2s;
}

.conBox:hover { right:-400px; background:rgba(0, 0, 0, 0.75); }
.conBox:hover .con { left:100px; background:rgba(45, 65, 0, 0.6); }

/*===== contents =====*/
article { 
    position: absolute; left:350px; width:300px; height:100px; 
    opacity: 0.2;
}
article:nth-child(1) { bottom:300px; transition:all 0.4s ease-in 0.4s; }
article:nth-child(2) { bottom:170px;  transition:all 0.4s ease-in 0.6s; }
article:nth-child(3) { bottom:40px; transition:all 0.4s ease-in 0.8s; }
.conBox:hover article { left:50px; opacity: 0.9; }

article h3 { font-size:17px; color:#a0db50; transform:skewX(40deg); }
article img { transition: all 0.4s ease-in; }
article img:hover { opacity:0.4; }

/*===== aniBtn =====*/
.conAni { 
    position: absolute; left:100px; bottom:50px; width:150px; height:50px;
    font-size:42px; color:#b9fb05; 
    transform: skewX(40deg); transition: all 0.4s ease-in;
} 
.conBox:hover .conAni { left:800px;  }
.conAni i { position:absolute; right:0; bottom:0; }
.conAni i:nth-child(1) { animation: aniBtn linear 1.5s 0s infinite; }
.conAni i:nth-child(2) { animation: aniBtn linear 1.5s 0.5s infinite;  }
.conAni i:nth-child(3) { animation: aniBtn linear 1.5s 1.0s infinite; }


@keyframes aniBtn {
    0%{
        right:0; transform:scale(1); opacity: 1;
    }
    70%{
        right:90px; transform:scale(1.2); opacity: 0.25;
    }
    100%{
        right:100px; transform:scale(1.3); opacity: 0;
    }
}